# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore virtual environments
venv/
.env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore CSV exports 
*.csv

# Ignore Jupyter/IPython stuff
.ipynb_checkpoints/
